<div class="container" *ngIf="quiz">
  <header>
    <h2>{{ quiz.title }}</h2>
    <div class="timer">Time Remaining: {{ timeRemaining | date:'mm:ss':'UTC' }}</div>
  </header>

  <div *ngFor="let q of quiz.questions; let i = index" class="question">
    <h3>{{ i + 1 }}. {{ q.question }}</h3>
    <div *ngFor="let option of q.options; let j = index" class="option">
      <label>
        <input 
          type="radio" 
          [name]="'question' + i" 
          [value]="j"
          [(ngModel)]="answers[i].selectedOption">
        {{ option }}
      </label>
    </div>
  </div>

  <button (click)="submitQuiz()">Submit Quiz</button>
</div>
